[submodule "sources/superpowers"]
	path = sources/superpowers
	url = https://github.com/obra/superpowers
[submodule "sources/hermes-agent"]
	path = sources/hermes-agent
	url = https://github.com/NousResearch/hermes-agent
[submodule "sources/apollographql"]
	path = sources/apollographql
	url = https://github.com/apollographql/skills.git
